@import url('https://fonts.googleapis.com/css2?family=Voltaire&display=swap');

/* Below is the coded route to host varibles for easy reference and setting of color etc */

:root {
    --background-color: blue;
    --text-color: #fff;
    --border-color: #6699CC;
}

/* styling of a href links */

a {
    color: var(--text-color);
    text-decoration: none;
    font-family: "Voltaire";
    font-weight: bold;
}

/* header styling */

header  {
    background-color:  var(--background-color);
    border: var(--border-color) solid 7px;
    color: var(--text-color);
    padding: 5px;
}

/* Various css styling */

.me {
    color: var(--text-color);
    padding: 12px 0 12px 12px;
    font-family: "Voltaire";
    font-weight: bold;
    font-size: 28px;
    text-align: left;
    vertical-align: middle;
}

.nav-links {
    float: right;
    padding: 12px 12px 12px 0;
}

body {
    background-color: var(--background-color);
    margin: 0;
}

p {
    color: var(--text-color);
}

.avatar {
    border: var(--border-color) solid 10px;
    border-radius: 50%;    
}

.img-container {
    position: relative;
    text-align: center;
    color: var(--text-color);
    border: var(--border-color) solid 10px;
    border-radius: 5px;
    margin: 5px;
}

.img-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

img:hover {
    border-color: silver;
    box-shadow: 0 0 5px 10px silver;
}

.about-title {
    color: var(--text-color);
}

.about-me {
    color: var(--text-color);
    height: 270px;
}

footer {
    color: var(--text-color);
    text-align: center;
}

/* responsive css below to make the site adjust and look right on different screens and devices */

@media screen and (max-width: 992px) {
    .about-me {
      width: 50%;
    }
    img {
        width: 50%;
    }
    header {
        width: 50%;
    }
  }
  
  @media screen and (max-width: 768px) {
    .about-me {
      width: 100%;
    }
    img {
        width: 100%;
    }
    header {
        width: 100%;
    }
  }
  