@import url('https://fonts.googleapis.com/css2?family=Voltaire&display=swap');

:root {
    --background-color: blue;
    --text-color: #fff;
    --border-color: #6699CC;
}

a {
    color: var(--text-color);
    text-decoration: none;
    font-family: "Voltaire";
    font-weight: bold;
}

header  {
    background-color:  var(--background-color);
    border: var(--border-color) solid 7px;
    color: var(--text-color);
    padding: 5px;
}

.me {
    color: var(--text-color);
    padding: 12px 0 12px 12px;
    font-family: "Voltaire";
    font-weight: bold;
    font-size: 28px;
    text-align: left;
    vertical-align: middle;
}

.nav-links {
    float: right;
    padding: 12px 12px 12px 0;
}

body {
    background-color: var(--background-color);
    margin: 0;
}

p {
    color: var(--text-color);
}

.about-title {
    color: var(--text-color);
}

.about-me {
    color: var(--text-color);
}

@media screen {
    
}